*{
    margin: 0%;
    padding: 0%;
}
:root{
--cor-cabecalho1:#A2FFFF;
--cor-fonte:#000000;
--cor-fundo1:#A2FFFF;
--cor-fundo2:#004343;
--cor-cabecalho2:#004343;

}
.cabecalho{
    background-color:var(--cor-cabecalho1);
    color:var(--cor-fonte);
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 24px 0;


}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola.imagem{
    width: 50%;
}
.escola{
    background-image:linear-gradient,(#A2FFFF, #004343);
    color:var(--cor-fonte);
    display: flex;
    align-items: center;
    padding: 24px 0;
    padding-left: 15%;
}
.ecola-driv-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width:  128px;
}
.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
