*{
    margin: 0%;
    padding: 0%;
}
:root{
--cor-cabecalho1:#ED0000;
--cor-fonte:#FFFFFF;
--cor-fundo1:#ED0000;
--cor-fundo2:#FFFFFF;
--cor-cabecalho2:#FFFFFF;
}
.cabecalho{
    background-color:var(--cor-cabecalho1);
    color:var(--cor-fonte);
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding: 24px 0;


}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola.imagem{
    width: 25%;
}
.escola{
    background-image:linear-gradient,(#ED0000, #FFFFFF);
    color: var(--cor-fonte);
    display: flex;
    align-items: center;
    padding: 24px 0;
}
