:root{
--cor-cabecalho1:#000000;
--cor-fonte:#FFFFFF;
--cor-fundo1:#ED0000;
--cor-fundo2:#FFFFFF;
--cor-cabecalho2:#FFFFFF;
}
.cabecalho{
    background-color:var(--cor-cabecalho1);
    color:var(--cor-fonte);
    display: flex;
    justify-content: space-around;

}
.imagem-cabecalho{
    width: 10%;
}